%h1 Admin

/ %ul
/   %li
/   %li
/     = link_to 'Profesores', teachers_path
/   %li
/     = link_to 'Cursos', courses_path


.row
  .col-md-4
    = link_to 'Recepción Ona', admin_ona_submissions_path

    - OnaSubmission.with_error.count.tap do |ona_error|
      - if ona_error > 0
        %label.badge
          = ona_error
          Errors

  .col-md-8
    = month_calendar do |date|
      .daynum
        = date.day
      - (@course_logs[date] || []).each do |course_log|
        %div{"class" => "#{'missing' if course_log.missing}"}
          = link_to course_log.calendar_name, admin_course_log_path(course_log)
          - unless course_log.missing
            %label.badge
              = course_log.teachers.count
              \ :
              = course_log.students_count
