.row
  .col-md-4

    .well.well-sm.status-well
      .row
        .col-md-12
          %h3 Recepción de formularios
      .row
        .col-md-12
          - OnaSubmission.with_error.count.tap do |ona_error|
            = link_to admin_ona_submissions_path do
              - if ona_error > 0
                %h1= ona_error
                %label Errores
              - else
                OK

    - side_box 'Caja' do
      .row
        - side_box_data 'en mano de profesores' do
          = link_to number_to_currency(@course_incomes_not_handed), admin_teachers_path
        - side_box_data 'ingresos del mes' do
          = number_to_currency(@course_incomes_in_month)
      .row
        .col-md-12
          = link_to 'histórico', admin_teacher_cash_incomes_path

    - side_box 'Salario docente' do
      .row
        - side_box_data 'a pagar' do
          = link_to number_to_currency(@course_teaching_expense_to_paid), admin_teachers_path
        - side_box_data 'pagado en el mes' do
          = number_to_currency(@course_teaching_expense_in_month)
      .row
        .col-md-12
          = link_to 'histórico', admin_teacher_courses_path

    - side_box 'Control' do
      .row
        - side_box_data 'clases impagas' do
          = link_to admin_missing_payments_path do
            = @student_course_logs_missing_payment

        - side_box_data 'alumnos pendientes' do
          = @students_missing_payment

  .col-md-8
    = render partial: 'shared/course_logs_calendar', locals: { course_logs: @course_logs, url: :admin_course_log_path }
