%h1 Admin

/ %ul
/   %li
/   %li
/     = link_to 'Profesores', teachers_path
/   %li
/     = link_to 'Cursos', courses_path


.row
  .col-md-4
    = link_to 'Recepción Ona', admin_ona_submissions_path

    - OnaSubmission.with_error.count.tap do |ona_error|
      - if ona_error > 0
        %label.badge
          = ona_error
          Errors

    %br
    = link_to 'Profesores', admin_teachers_path
    %br
    = link_to 'Movimientos', admin_lines_path

    %br

    .well.well-sm(style="text-align: center")
      %h1(style="margin-top: 0px")
        = link_to number_to_currency(@owed_student_payments), admin_teachers_path
      %label por entrar a caja

    .well.well-sm(style="text-align: center")
      %h1(style="margin-top: 0px")
        = number_to_currency(School.course_income_account.balance)
      %label caja

  .col-md-8
    = month_calendar do |date|
      .daynum
        = date.day
      - (@course_logs[date] || []).each do |course_log|
        %div{"class" => "#{'missing' if course_log.missing}"}
          = link_to course_log.calendar_name, admin_course_log_path(course_log)
          - unless course_log.missing
            %label.badge
              = course_log.teachers.count
              \ :
              = course_log.students_count
