%h1 Inicio

%ul
  %li
    = link_to 'Recepción Ona', admin_ona_submissions_path
  %li
    = link_to 'Profesores', teachers_path
  %li
    = link_to 'Cursos', courses_path

= month_calendar do |date|
  .daynum
    = date.day
  - (@course_logs[date] || []).each do |course_log|
    %div{"class" => "#{'missing' if course_log.missing}"}
      = course_log.id
      = course_log.calendar_name
      - unless course_log.missing
        %label.badge
          = course_log.teachers.count
