%h1 Detalle Clase

%form.form-horizontal
  = text_field 'Id', course_log.id
  = text_field 'Curso', course_log.course.name
  = text_field 'Fecha', course_log.date
  = text_field 'Estado', course_log.status
  - unless course_log.missing
    = text_field 'Profesores' do
      %label.badge= course_log.teachers.count

      %ul
        - course_log.teachers.each do |teacher|
          %li= teacher.name

    = text_field 'Alumnos' do
      %label.badge= course_log.students_count

      %ul
        - course_log.student_course_logs.each do |student_log|
          %li= student_log.student.try :display_name

