%h1 Detalle Clase

%form.form-horizontal
  = plain_text_field 'Id', course_log.id
  = plain_text_field 'Lugar', course_log.course.place.name
  = plain_text_field 'Curso', course_log.course.description(:track, :weekday, :time)
  = plain_text_field 'Fecha', course_log.date
  = plain_text_field 'Estado', course_log.status
  - place = course_log.course.place
  - if place.try :commission?
    = plain_text_field "Comissión #{place.name}", number_to_currency(-place.expenses.where(course_log_id: course_log.id).sum(:payment_amount))
  - unless course_log.missing
    = plain_text_field 'Profesores' do
      %label.badge= course_log.teachers.count
      = course_log.teachers.map { |t| t.name }.join(', ')

    = plain_text_field 'Recaudación' do
      = render_listing :teacher_course_log_teachers

    = plain_text_field 'Alumnos' do
      %label.badge= course_log.students_count

      = render_listing :teacher_course_log_students

= render 'add_student_log'
