%h1= teacher.name

%form.form-horizontal
  = plain_text_field 'Pagos de alumnos' do
    %span= number_to_currency(teacher.owed_cash_total)
    = link_to 'ver detalle', owed_cash_admin_teacher_path(teacher)

  = plain_text_field 'Salario adeudado' do
    %span= number_to_currency(teacher.due_salary)
    = link_to 'ver detalle', due_course_salary_admin_teacher_path(teacher)
