= simple_form_for([:admin, student], html: { class: 'form-horizontal' }) do |f|

  = f.input :first_name
  = f.input :last_name
  = f.input :email
  = f.input :card_code
  = f.input :phone

  = f.button :submit
  = link_to "Delete", [:admin, student], method: :delete, data: {confirm: "Seguro desea borrar el alumno?"}
