= link_to "Ver alumnos activos", stats_admin_students_path

%h1 Estadísticas. Asistencias por curso activo

%table.table
  %tr
    %th(rowspan=2) Semana
    - @courses_by_track.each do |track, courses|
      %th{colspan: courses.count, style: "border: 1px solid #ccc"}= track.code
  %tr
    - @courses_by_track.each do |track, courses|
      - courses.each do |course|
        %th.rotate
          %div
            %span= course.description(:weekday, :time)
  - @data.each do |row|
    %tr
      %th(style="white-space: nowrap;")= row[:period]
      - @courses_by_track.each do |track, courses|
        - courses.each do |course|
          %td= row[course.id]
