
.row
  .col-md-5
    %h1= student.display_name
    %p
      = link_to 'editar', edit_admin_student_path(student)

    %form.form-horizontal
      = plain_text_field 'Tarjeta', student.card_code
      = plain_text_field 'Nombre', student.first_name
      = plain_text_field 'Apellido', student.last_name
      = plain_text_field 'Email', mail_to(student.email)
      = plain_text_field 'Creado', student.created_at.to_date

    %hr
    %h2 Packs vigentes
    - student.student_packs.valid_for(Date.today).each do |pack|
      %form.form-horizontal
        = plain_text_field 'Desde', pack.start_date.to_date
        = plain_text_field 'Hasta', pack.due_date.to_date
        = plain_text_field 'Plan', pack.payment_plan.code
        = plain_text_field 'Clases', pack.max_courses
        = plain_text_field 'Usadas', pack.student_course_logs.count
        - if pack.can_rollback_payment_and_pack?(current_user)
          = link_to 'Eliminar pack y pago', delete_pack_cashier_student_path(student, pack), class: 'btn btn-danger', method: :delete, 'data-confirm' => '¿Seguro desea borrar el pack y el pago asociado?'
      %hr(style="border-top-style: dashed;")
    - if student.student_packs.valid_for(Date.today).count == 0
      No hay

    %hr
    %h2 Pack anterior
    - student.last_student_pack.tap do |pack|
      - if pack
        %form.form-horizontal
          = plain_text_field 'Desde', pack.start_date.to_date
          = plain_text_field 'Hasta', pack.due_date.to_date
          = plain_text_field 'Plan', pack.payment_plan.code
          = plain_text_field 'Clases', pack.max_courses
          = plain_text_field 'Usadas', pack.student_course_logs.count
      - else
        No hay


  .col-md-7
    %h3 Actividades

    = render_listing :admin_student_activities
