
.row
  .col-md-5
    %h1= student.display_name
    %p
      = link_to 'editar', action: :edit
      - if student.pending_payments_count > 0
        = link_to 'saldar deuda', cancel_debt_admin_student_path(student), class: 'btn btn-danger', method: :post, 'data-confirm' => '¿Seguro desea cancelar la deuda?'

    %form.form-horizontal
      = plain_text_field 'Tarjeta', student.card_code
      = plain_text_field 'Nombre', student.first_name
      = plain_text_field 'Apellido', student.last_name
      = plain_text_field 'Email', mail_to(student.email)
      = plain_text_field 'Creado', student.created_at.to_date

    - future_packs = student.student_packs.where("start_date > ?", School.today).to_a
    - if future_packs.count > 0
      %hr
      %h2 Packs futuros
      - future_packs.each_with_index do |pack, index|
        - unless index == 0
          %hr(style="border-top-style: dashed;")
        = render 'admin/students/pack_card', pack: pack

    %hr
    %h2 Packs vigentes
    - student.student_packs.valid_for(School.today).each_with_index do |pack, index|
      - unless index == 0
        %hr(style="border-top-style: dashed;")
      = render 'admin/students/pack_card', pack: pack
    - if student.student_packs.valid_for(School.today).count == 0
      No hay

    %hr
    %h2 Pack anterior
    - student.last_student_pack.tap do |pack|
      - if pack
        = render 'admin/students/pack_card', pack: pack
      - else
        No hay


  .col-md-7
    - if student.comment.present?
      %blockquote
        %span.glyphicon.glyphicon-comment
        = student.comment
        %footer
          = "#{student.comment_by.name}, "
          = student.comment_at.try(&:to_human)

    %h3 Actividades
    = render_listing :admin_student_activities
