
.row
  .col-md-5
    %h1= student.display_name

    %form.form-horizontal
      = text_field 'Tarjeta', student.card_code
      = text_field 'Nombre', student.first_name
      = text_field 'Apellido', student.last_name
      = text_field 'Email', mail_to(student.email)
      = text_field 'Creado', student.created_at.to_date

  .col-md-7
    %h3 Actividades

    = render_listing :admin_student_activities
