%h1 Estadísticas. Alumnos Activos

%h3
  Período
  = @date_range

%table.table.table-bordered
  %tr
    %th
    %th Total
    - @weekdays.each do |wday|
      %th
        = Date::DAYNAMES[wday]

  %tr
    %th Total
    %th
      = link_to @global_stats[:count], stats_details_admin_students_path(@stats_url_options)
      \ :
      = @global_stats[:total_count]

    - @weekdays.each do |wday|
      %td
        - count = @stats_by_wday[wday].try { |h| h[:count] }
        - if count
          = link_to count, stats_details_admin_students_path({wday: wday}.merge(@stats_url_options))
          \ :
          = @stats_by_wday[wday].try { |h| h[:total_count] }

  - @tracks.each do |track|
    %tr
      %th= track.code
      %td
        - count = @stats_by_track[track.code].try { |h| h[:count] }
        - if count
          = link_to count, stats_details_admin_students_path({track_id: track.id}.merge(@stats_url_options))
          \ :
          = @stats_by_track[track.code].try { |h| h[:total_count] }

      - @weekdays.each do |wday|
        %td
          - count = @stats[wday].try { |h| h[track.code] }.try { |h| h[:count] }
          - if count
            = link_to count, stats_details_admin_students_path({wday: wday, track_id: track.id}.merge(@stats_url_options))
            \ :
            = @stats[wday].try { |h| h[track.code] }.try { |h| h[:total_count] }
