= month_calendar do |date|
  .daynum
    = date.day
  - (course_logs[date] || []).sort_by(&:name_with_wday_as_context).each do |course_log|
    %div.course_log{"class" => "#{'missing' if course_log.missing}"}
      %span.course-link
        = link_to course_log.name_with_wday_as_context(show_time: false), self.send(url, course_log)
      - unless course_log.missing
        - tooltip_text = "Profes: #{course_log.teachers.map(&:name).join(", ")}"
        %span.glyphicon.glyphicon-user{"data-toggle"=> "tooltip", "data-placement"=>"top", title: tooltip_text}
        = course_log.students_count
      - else
        %span.glyphicon.glyphicon-exclamation-sign

:javascript
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
