%table.table
  %tr
    %th
    %th(colspan=2) Alumno
    %th(rowspan=2) Monto
  %tr
    %th Fecha
    %th Curso
    %th Motivo
  %tr.subtotal
    %td(colspan=3) Total
    %td= number_to_currency @total
  - @incomes.each do |key, items|
    - date, course_log_id, type = key
    %tr.subtotal
      %td= date.to_human
      %td
        - if course_log_id
          = CourseLog.find(course_log_id).course.description(:track, :time, :place)
        - else
          Sin curso
      %td= items.first.kind_description
      %td= number_to_currency items.sum(&:payment_amount)
    - items.each do |income|
      %tr
        %td
        %td(colspan=2)
          - if income.respond_to? :student
            = income.student.display_name
          - elsif
            = income.description
        %td= number_to_currency income.payment_amount
