= simple_form_for([:cashier, student], html: { class: 'form-horizontal' }) do |f|

  = f.input :first_name
  = f.input :last_name
  = f.input :email

  = f.input :card_code
  %i
    Si cambia la tarjeta recuerde cobrar los
    = "$#{TeacherCashIncomes::NewCardIncome::FEE}"
    por la misma.

  %br
  %br

  = f.button :submit
