= simple_form_for([:admin, @course], html: { class: 'form-horizontal' }) do |f|

  = f.association :track, collection: Track.order(:course_kind, :code)
  = f.input :weekday, collection: School.weekdays.map { |wday| [local_wday(wday).titleize, wday] }
  = f.input :start_time, as: :string
  = f.input :valid_since, as: :radio_buttons, collection: @valid_since_options

  = f.button :submit
