%h1= @course.description(:track, :weekday, :time)

= simple_form_for([:admin, @course], html: { class: 'form-horizontal' }) do |f|
  = plain_text_field 'Código', @course.code
  = plain_text_field 'Programa', @course.track.name
  = plain_text_field 'Día de la semana', local_wday(@course.weekday).titleize
  = plain_text_field 'Hora inicio', @course.start_time.strftime("%H:%M")

  = f.input :valid_until, as: :radio_buttons, collection: @valid_until_options.map { |v| [v || "(ninguna)", v] }
  = f.button :submit, "Actualizar fecha de cierre"

  - if @course.can_destroy?
    = link_to 'Eliminar curso', admin_course_path(@course), class: 'btn btn-danger', method: :delete, 'data-confirm' => '¿Seguro desea borrar el curso?'
