.row
  .col-md-4
    %h1
      Bienvenido
      = place.name

    %p
      Se pueden hacer envios mediante el
      = link_to 'formulario web', Settings.webform_url, target: '_blank'

    %p
      Una vez enviado el formulario podrá consultar el estado de la cuenta recargando esta página.

    - side_box 'Recepción de formularios' do
      .row
        .col-md-12
          - place.ona_submissions.with_error.count.tap do |ona_error|
            = link_to place_ona_submissions_path do
              - if ona_error > 0
                %h1= ona_error
                %label Errores
              - else
                OK

  .col-md-8
    %table.table
      %tr
        %th Fecha
        %th= place.name
        %th= School.description
        %th Total

      - @account_status.each do |item|
        %tr
          %td= item.date.to_human
          %td= number_to_currency item.commission
          %td= number_to_currency item.school
          %td= number_to_currency item.total

