- content_for :nav_bar do
  - if current_user.admin?
    %li.dropdown
      %a.dropdown-toggle(href="#" data-toggle="dropdown")
        Portal Admin
        %span.caret
      %ul.dropdown-menu
        %li
          = link_to 'Inicio', admin_index_path
        %li
          = link_to 'Profesores', admin_teachers_path
        %li
          = link_to 'Alumnos', admin_students_path
        %li
          = link_to 'Cursos', admin_courses_path
        %li
          = link_to 'Usuarios', admin_users_path
        %li
          = link_to 'Estadísticas', stats_admin_students_path
        %li
          = link_to 'Horarios Wordpress', admin_horarios_wp_path
        %li
          = link_to 'Balance', admin_balance_path
  - if current_user.teacher?
    %li.dropdown
      %a.dropdown-toggle(href="#" data-toggle="dropdown")
        Portal Docente
        %span.caret
      %ul.dropdown-menu
        %li
          = link_to 'Inicio', teacher_index_path
        %li
          = link_to 'Alumnos', teacher_students_path

  - if current_user.place?
    %li
      = link_to 'Portal Sala', place_index_path

  - if current_user.cashier?
    %li
      = link_to 'Secretaría', cashier_dashboard_path

= render template: "layouts/application"
